<!-- Footer UI -->

<footer>
    
    <div class="footer-border"></div>
    <div class="footer-end">
        <div class="support">
            <span class="footer-end-title">Support</span>
            <ul class="support-list">
                <li><a href="#">Help Centre</a> </li>
                <li><a href="#">AirCover</a></li>
                <li><a href="#">Anti-discrimination</a></li>
                <li><a href="#">Disability support</a></li>
                <li><a href="#">Cancellation options</a></li>
                <li><a href="#">Report neighbourhood concern</a></li>
            </ul>
        </div>
        <div class="hosting">
            <span class="footer-end-title">Hosting</span>
            <ul class="hosting-list">
                <li><a href="#">Airbnb your home</a></li>
                <li><a href="#">AirCover for Hosts</a></li>
                <li><a href="#">Hosting resources</a></li>
                <li><a href="#">Community forum</a></li>
                <li><a href="#">Hosting responsibly</a></li>
            </ul>
        </div>
        <div class="airbnb">
            <span class="footer-end-title airbnb title">Airbnb</span>
            <ul class="airbnb-list">
                <li><a href="#">Newsroom</a></li>
                <li><a href="#">New features</a></li>
                <li><a href="#">Careers</a></li>
                <li><a href="#">Investors</a></li>
                <li><a href="#">Airbnb.org emergency stays</a></li>  
            </ul>
        </div>
        
    </div>
    <div class="footer-end-border"></div>
    <div class="footer-socialmedia">
        <div class="footer-sm-left">
            <div class="footer-sm-copyright">
                © 2023 Airbnb, Inc.
            </div>
            <div class="links">
                <div class="footer-dot"> </div>
                <span> 
                    <ol class="footer-links">
                        <li><a href="#">Privacy</a></li>
                        <li><div class="footer-dot"> </div></li>
                        <li><a href="#">Terms</a></li>
                        <li><div class="footer-dot"> </div></li>
                        <li><a href="#">Sitemap</a></li>
                        <li><div class="footer-dot"> </div></li>
                        <li><a href="#">Companydetails</a></li>
                    </ol>
                </span>
            </div>
        </div>
        <div class="footer-sm-right"></div>
    </div>

</footer>
  
<script>

    // Function for open dropdown on navbar profile button
    let showdropdown=false;
    
    function showDropdown(){
        showdropdown=!showdropdown;
        if(showdropdown){
           document.getElementById('drop-down').style.display="block";
        }
        else{
            document.getElementById('drop-down').style.display="none";
        }
    }
    

    
</script>
</body>
</html>