<!-- Navbar UI -->
<nav>
    <div class="nav-container">
        <div class="logo">
            <img src="https://download.logo.wine/logo/Airbnb/Airbnb-Logo.wine.png">
        </div>
        <div class="search-box">
            <form action="/search" method="POST" class="search-form">
            <input type="text" class="serch-input" name="searchword" placeholder="Search Hotel">
            <button type="submit" class="serch-icon search-btn">
                <svg class="serch-svg-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" aria-hidden="true"
                    role="presentation" focusable="false"
                    style="display: block; fill: none; height: 12px; width: 12px; stroke: white; stroke-width: 5.33333; overflow: visible;">
                    <path fill="none" d="M13 24a11 11 0 1 0 0-22 11 11 0 0 0 0 22zm8-3 9 9"></path>
                </svg>
            </button>
        </form>
        </div>

        
        <div class="profile">
            <div class="airbnb-home">
                <button class="airbnb-button">Airbnb Your home</button>
            </div>
            <div class="language">
                <svg class="language-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" aria-hidden="true"
                    role="presentation" focusable="false"
                    style="display: block; height: 16px; width: 16px; fill: currentcolor;">
                    <path
                        d="M8 .25a7.77 7.77 0 0 1 7.75 7.78 7.75 7.75 0 0 1-7.52 7.72h-.25A7.75 7.75 0 0 1 .25 8.24v-.25A7.75 7.75 0 0 1 8 .25zm1.95 8.5h-3.9c.15 2.9 1.17 5.34 1.88 5.5H8c.68 0 1.72-2.37 1.93-5.23zm4.26 0h-2.76c-.09 1.96-.53 3.78-1.18 5.08A6.26 6.26 0 0 0 14.17 9zm-9.67 0H1.8a6.26 6.26 0 0 0 3.94 5.08 12.59 12.59 0 0 1-1.16-4.7l-.03-.38zm1.2-6.58-.12.05a6.26 6.26 0 0 0-3.83 5.03h2.75c.09-1.83.48-3.54 1.06-4.81zm2.25-.42c-.7 0-1.78 2.51-1.94 5.5h3.9c-.15-2.9-1.18-5.34-1.89-5.5h-.07zm2.28.43.03.05a12.95 12.95 0 0 1 1.15 5.02h2.75a6.28 6.28 0 0 0-3.93-5.07z">
                    </path>
                </svg>
            </div>
            <button class="user-profile" onclick="showDropdown()">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" aria-hidden="true" role="presentation"
                    focusable="false"
                    style="display: block; fill: none; height: 16px; width: 16px; stroke: currentcolor; stroke-width: 3; overflow: visible;">
                    <g fill="none">
                        <path d="M2 16h28M2 24h28M2 8h28"></path>
                    </g>
                </svg>
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" aria-hidden="true" role="presentation"
                    focusable="false" style="display: block; height: 30px; width: 30px; fill: gray;">
                    <path
                        d="M16 .7C7.56.7.7 7.56.7 16S7.56 31.3 16 31.3 31.3 24.44 31.3 16 24.44.7 16 .7zm0 28c-4.02 0-7.6-1.88-9.93-4.81a12.43 12.43 0 0 1 6.45-4.4A6.5 6.5 0 0 1 9.5 14a6.5 6.5 0 0 1 13 0 6.51 6.51 0 0 1-3.02 5.5 12.42 12.42 0 0 1 6.45 4.4A12.67 12.67 0 0 1 16 28.7z">
                    </path>
                </svg>
            </button>
        </div>
        <div class="dropdown" id="drop-down">
            <ul class="dropdown-links">
                <li><button class="dropdown-links-btn linkbtn-text">Winter Relesse features</button></li>
                <hr>
                <li><button class="dropdown-links-btn linkbtn-text">
                        <a class="regi-link" onclick="Openregistrationform()">Sign Up</a></button></li>
                <li><button class="dropdown-links-btn" >
                        <a class="dropdown-links-btn login-link" onclick="Openloginform()">Log in</a></button></li>
                <hr>
                <li><button class="dropdown-links-btn">Airbnb your home</button></li>
                <li><button class="dropdown-links-btn">Help Center</button></li>
            </ul>
        </div>

    </div>
</nav>

<div class="login-bg" id="loginBg"></div>
<div class="login-model" id="loginModel">
    <!-- Login page UI -->

    <div class="loginModel">
        <div class="login-header">
          <span class='login-title'>Log in or sign up</span>
          <button class="closeLoginbtn"onclick="closeLoginmodel()">X</button>
        </div>
        <hr>
    
        <form class="login-form" action="/user/login" method="POST">
            <div class="airbnb-title">Welcome to Airbnb</div>
          <div class="container">
            <label for="uname"><b>Username</b></label><br>
            <input class='input' type="text" placeholder="Enter Username" name="username"/><br>
    
            <label for="psw"><b>Password</b></label><br>
            <input class='input' type="password" placeholder="Enter Password" name="password"/>
    
            <button type='submit' class='signin-btn' >Sign In </button>
            <button  class='signup-btn'><a class='signup-link' href="/user/registration">Sign Up</a></button>
            
          </div>
          
    
        </form>
      </div>
    
</div>

<div class="regi-model" id="regiModel">
    <div class="regi-container">
        <p class="regi-title">Log in or Sign up</p>
            <button class="closeregiBtn" onclick="closeRegimodel()">X</button>
            <hr>
            </hr>
            <div class="airbnb-title">Welcome to Airbnb</div><br>
        <form action="/user/registration" method="POST">
          <div class="register-form">
            <div class="regi-form">
              <label for="firstname"><b>Name</b></label><br>
              <input class='regi-input' type="text" placeholder="Enter your name" name="name" /><br>
      
              <label><b>User Name</b></label><br>
              <input class='regi-input' type="text" placeholder="Enter your User name" name="username" /><br>
      
              <label for="email"><b>Email</b></label><br>
              <input class='regi-input' type="text" placeholder="Enter Email" name="email" id="email" /><br>
      
              <label for="psw"><b>Password</b></label><br>
              <input class='regi-input' type="password" placeholder="Enter Password" name="password" id="psw" /><br>
      
              <label for="psw-repeat"><b>Repeat Password</b></label><br>
              <input class='regi-input' type="password" placeholder="Repeat Password" name="psw-repeat" id="psw-repeat" />
              <hr>
              </hr>
              <p>By creating an account you agree to our <a href="#">Terms & Privacy</a>.</p>
      
              <button type="submit" class="registerbtn">Register</button>
            </div>
          
      
          <div class="container signin">
            <p>Already have an account? <a href="/user/login">Sign in</a>.</p>
          </div>
        </div>
        </form>
      </div>
</div>
<script>
    let openLoginmodel=false;
    
    function Openloginform(){
        openLoginmodel=!openLoginmodel;
        if(openLoginmodel){
            document.getElementById('loginBg').style.display="block";
           document.getElementById('loginModel').style.display="block";
        }
        else{
          document.getElementById('loginBg').style.display="none";
            document.getElementById('loginModel').style.display="none";
        }
    }
    function closeLoginmodel(){
        document.getElementById('loginBg').style.display="none";
        document.getElementById('loginModel').style.display='none';
    }

    let openRegistrationmodel=false;
    
    function Openregistrationform(){
        openRegistrationmodel=!openRegistrationmodel;
        if(openRegistrationmodel){
            document.getElementById('loginBg').style.display="block";
           document.getElementById('regiModel').style.display="block";
        }
        else{
          document.getElementById('loginBg').style.display="none";
            document.getElementById('regiModel').style.display="none";
        }
    }

    function closeRegimodel(){
        document.getElementById('loginBg').style.display="none";
        document.getElementById('regiModel').style.display='none';
    }
</script>